.text-align{
    text-align: center;
}

.puntito{
    border-radius: 100%;
    height: 10px;
    width: 10px;
    margin-top: -12px;
    margin-left: -12px;
}

.flexFormCont{
    padding-bottom: 50px;
    width: 100%;
    overflow-y: auto;
}

.formContainer{
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.two-buttons-one-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.flexForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flexForm input, textarea{
    background-color: #eee;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.day{
    transition-duration: .4s;
    padding: 20px;
    border: none;
    border: solid;
    min-width: 100px;
    height: 55px;
    border-radius: 15px;
    border-color: transparent;
    border-width: 5px;
    background-color: rgb(214, 214, 214);
    color: black;
    outline: rgb(71, 71, 71);
    outline-style: dashed;
    outline-offset: -5px;
    outline-width: .5px;
}

.day:hover{
    background-color: rgb(228, 226, 124);
    color: black;
}

.agenda {
    font-size: 16px;
}

table {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: black;
    background-color: rgba(145, 175, 180, 0.596);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

th,
td {
    padding: 12px;
}

.agenda th {
    color: #fff;

}

.agenda td:hover {
    background-color: #eee;
}

.agenda th:first-child,
.agenda td:first-child {
    border-left: none;
    text-align: left;
}

.agenda th:last-child,
.agenda td:last-child {
    border-right: none;
}

.agenda th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
}

.agenda td:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

.agenda td>div {
    font-weight: bold;
}

.agenda td>div:first-child {
    margin-bottom: 4px;
}

.prev-month-next-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ghost-btn-agenda {
    color: black;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 25px;
    font-weight: bolder;
    transition-duration: .4s;
    border: none;
}

.ghost-btn-agenda:hover{
    background-color: rgb(219, 219, 219);
    font-size: 28px;
    padding-left: 22px;
    padding-right: 22px;
}

.month-name-container {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    backdrop-filter: blur(10px);
}

.menu-content1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    padding: 50px;
    text-align: center;
    font-weight: bold;
    color: black;
    max-height: 90vh;
    overflow-y: auto;
}

.menu-content1 h3 {
    margin-top: 0;
}

.menu-content1 button {
    margin-top: 10px;
}

.td-numbers {
    cursor: pointer;
}

td.disabled{
    background-color: rgba(175, 175, 175, 0.514);
    cursor: not-allowed;
}

.agendar-button{
    border-radius: 15px;
    color: rgb(255, 255, 255);
    padding: 10px;
    top: 0px;
    right: 20px;
    background-color: palevioletred;
    transition-duration: .4s;
}

.close-menu-hours:hover, .agendar-button:hover{
    background-color: rgb(184, 94, 124);
    color: white;
}

.close-menu-hours {
    border-radius: 15px;
    color: rgb(255, 255, 255);
    padding: 10px;
    top: 0px;
    right: 20px;
    background-color: rgb(94, 94, 94);
    transition-duration: .4s;
}
.close-menu-hours:hover{
    background-color: rgb(63, 62, 62);
    color: white;
}

.hours{
    background-color: transparent;
    border-radius: 15px;
    color: rgb(194, 194, 194);
    padding: 10px;
}

.hours:hover{
    background-color: rgb(95, 95, 95);
    color: white;
}

.disabled{
    color: lightgrey;
    cursor: not-allowed;
    background-color: none;
    opacity: .7;
}

.disabled:hover{
    color: lightgrey;
    cursor: not-allowed;
    background-color: none;
}

.taken{
    background-color: rgb(95, 95, 95);
    color: white;
}
