.formulario-input{
    width: 15vw;
    text-align: center;
}

.btn-registro{
    padding: 10px 20px;
    border-radius: 10px;
    transition: .5s;
    color: black;
    font-weight: 800;
}

.btn-registro:hover{
    transform: scale(1.1);
}

.formulario-container{
    margin-top: 50px;
    width: 100%;
}

@media only screen and (max-width: 1024px){
    .formulario-input{
        width: 25vw;
    }

}

@media only screen and (max-width: 800px){
    .formulario-input{
        width: 35vw;
    }

}

@media only screen and (max-width: 500px){
    .formulario-input{
        width: 50vw;
    }

}