@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto+Condensed:wght@300;400&display=swap');

.detalle_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Poiret One', cursive;
    margin-top: 100px;
}

.foto_detalle{
    height: 70vh;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 10px;
}

.nombre_detalle{
    text-align: center;
    color: white;
    font-size: 3rem;
    font-weight: 800;
}

.descripcion_detalle{
    text-align: center;
    color: white;
}

.tatuajes_h2{
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Poiret One', cursive;
    font-weight: 800;
}
