.tatuaje_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.tatuaje_img{
    width: 20vw;
    border-radius: 20px;
}

.imgJobsCont{
    width: 250px;
    height: 250px;
    overflow: hidden;
    transition-duration: 1s;
    border-radius: 15px;
}