main{
  min-height: 100vh;
  background-color: black;
  margin-bottom: 15px;
  border-radius: 10px;
}

.main-h1{
  color: #c93384;
  text-align: center;
}

.main-h4{
  color: #c93384;
  text-align: center;
}

.carousel-item{
  height: 100%;
}

.imgcarusel{
  height: 80vh;
  width: 100%;
  object-fit: contain;
  margin-top: 15px;
}

#carouselExampleControls{
  height: 100%;
}

.mapa{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mapa_h2{
  color: goldenrod;
}