.container-contact{
    padding-top: 10rem;
}

textarea{
    resize: none;
    width: 25vw;
    height: 30vh;
    padding: 10px;
    border-radius: 10px;
}


.contacto_h2{
    text-align: center;
    color: white;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 10px;
}

.input_contacto{
    resize: none;
    width: 20vw;
    padding: 10px;
    border-radius: 10px;
}

.btn_submit{
    padding: 10px 20px;
    filter: grayscale(.3);
    background-color: var(--button-background-primary);
    color: white;
    font-size: 1.3rem;
    border-radius: 10px;
    transition: .5s;
}

.btn_submit:hover{
    filter: grayscale(.1);
}

@media only screen and (max-width: 1600px){
    .input_contacto{
        width: 20vw;
    }

    textarea{
        width: 30vw;
    }
}

@media only screen and (max-width: 1024px){
    main{
        justify-content: start;
    }

    .contacto_h2{
        font-size: 2.2rem;
    }

    .input_contacto{
        width: 30vw;
    }

    textarea{
        width: 50vw;
    }

    .btn_contacto{
        padding: 8px 15px;
    }
}

@media only screen and (max-width: 800px){
    .input_contacto{
        width: 35vw;
    }

    textarea{
        width: 50vw;
    }

}

@media only screen and (max-width: 1024px){
    .contacto_h2{
        font-size: 2rem;
    }

    .input_contacto{
        width: 50vw;
    }

    textarea{
        width: 70vw;
    }

    .btn_contacto{
        padding: 10px 15px;
    }

}