.artistas-container{
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.artistas-card{
    padding: 5rem;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
    background-color: rgb(68, 61, 68);
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.801);
}

.artista-foto{
    width: 100%;
    height: fit-content;
}

.span-image{
    width: 50%;
    height: 800px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    scale: .6;
}

.artista-nombre{
    color: white;
    font-size: 3rem;
}

.mas-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}



.mas{
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 1.5rem;
    transition: .3s;
    background-color: var(--color-primary);
    filter: grayscale(.6);
}

.mas:hover{
    filter: grayscale(.5);
}

.separador{
    border-top: 1px solid rgba(58, 58, 58, 0.445);
    margin-top: 30px;
}

@media only screen and (max-width: 800px){
    .artista-nombre{
        font-size: 2rem;
    }

    .mas{
        padding: 10px 15px;
        font-size: 1rem;
    }

    .artista-foto{
        width: 60%;
    }
}

@media only screen and (max-width: 500px){
    .artistas-card{
        padding: 1rem;
    }

    .mas-contenedor{
        width: 40vw;
    }

    .artista-nombre{
        font-size: 1.7rem;
    }

    .mas{
        padding: 5px;
        font-size: .7rem;
        border-radius: 5px;
    }

    .artista-foto{
        width: 60vw;
        margin-left: 10px;
    }
}