@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto+Condensed:wght@300;400&display=swap');

.artistas-container{
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.artistas-card{
    padding: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.artistas-card:hover{
    transform: scale(1.1);
}

.artista-foto{
    width: 50%;
    border-radius: 10px;
}

.artista-nombre{
    color: white;
    font-size: 3rem;
}

.mas-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.mas{
    background-color: rgba(151, 151, 151, 0.445);
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 1.5rem;
}

.mas:hover{
    background-color: rgb(151, 151, 151);
    color: black;
}

.separador{
    border-top: 1px solid rgba(58, 58, 58, 0.445);
    margin-top: 30px;
}

@media only screen and (max-width: 800px){
    .artista-nombre{
        font-size: 2rem;
    }

    .mas{
        padding: 10px 15px;
        font-size: 1rem;
    }

    .artista-foto{
        width: 60%;
    }
}

@media only screen and (max-width: 500px){
    .artistas-card{
        padding: 1rem;
    }

    .mas-contenedor{
        width: 40vw;
    }

    .artista-nombre{
        font-size: 1.7rem;
    }

    .mas{
        padding: 5px;
        font-size: .7rem;
        border-radius: 5px;
    }

    .artista-foto{
        width: 60vw;
        margin-left: 10px;
    }
}