.btn_up_arrow{
    width: auto;
    border-radius: 100%;
    position: fixed;
    z-index: 999;
    bottom: 80px;
    right: 50px;
}

.up_arrow{
    height: 2.5rem;
    border-radius: 100%;
    transition: .5s;
    opacity: .5;
    filter: grayscale(.3);
}

.up_arrow:hover{
    transform: scale(1.05);
    cursor: pointer;
    opacity: 1;
    animation-name: resplandor;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    filter: grayscale(.1);
}

@keyframes resplandor {
    0% {
        box-shadow: 0px 0px 10px rgb(255, 255, 255);
    }
    
    50% {
        box-shadow: 0px 0px 200px rgba(255, 255, 255, 0);
    }
    
    100% {
        box-shadow: 0px 0px 10px rgb(255, 255, 255);
    }
}