main{
  min-height: 100vh;
  background-color: black;
  margin-bottom: 15px;
  border-radius: 10px;
}

.prev{
  transition: .5s;
}

.prev:hover{
  transform: scale(1.3);
}

.next{
  transition: .5s;
}

.next:hover{
  transform: scale(1.3);
}

.main-h1{
  color: #c93384;
  text-align: center;
}

.main-h4{
  color: #c93384;
  text-align: center;
}

.carousel-item{
  height: 100%;
  margin-bottom: 30px;
}

.imgcarusel{
  height: 80vh;
  width: 100%;
  object-fit: contain;
  margin-top: 15px;
}

#carouselExampleControls{
  height: 100%;
  border-bottom: 1px solid rgba(58, 58, 58, 0.445);
}

.mapa{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.iframe{
  width: 30vw;
  height: 50vh;
}

.mapa_h2{
  color: goldenrod;
}

.cursos{
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url('../../assets/cursos.jpg');
  transition: .5s;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.cursos:hover{
  transform: scale(1.1);
}

.cursos_h2{
  text-align: center;
  color: white;
  font-size: 5rem;
  background-color: rgba(71, 71, 71, 0.568);
  padding: 10px;
  border-radius: 10px;
}

.cursos_h2:hover{
  background-color: rgba(110, 110, 110, 0.568);
  transition: .3s;
}

.artistas_home{
  background-image:url('../../assets/LUROCO2.jpg'); 
  background-size: cover; 
  background-repeat:no-repeat;
  height: 100vh;
  border-radius: 20px;
  margin-top: 30px;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}


.artistas_home:hover{
  transform: scale(1.1);
}


.artistas_h2{
  text-align: center;
  color: white;
  font-size: 4rem;
  background-color: rgba(71, 71, 71, 0.568);
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

.artistas_h2:hover{
  background-color: rgba(110, 110, 110, 0.568);
  transition: .3s;
}

.separador{
  border-top: 1px solid rgba(58, 58, 58, 0.445);
  margin-top: 30px;
}

.productos{
  background-image: url('../../assets/productos.jpg');
  background-size: cover; 
  background-repeat:no-repeat;
  height: 100vh;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productos:hover{
  transform: scale(1.1);
}

.productos_h2{
  text-align: center;
  color: white;
  font-size: 4rem;
  background-color: rgba(71, 71, 71, 0.568);
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  border: 1px solid rgba(110, 110, 110, 0.568);
}

.productos_h2:hover{
  background-color: rgba(110, 110, 110, 0.568);
  transition: .3s;
}

#video{
  height: 80vh;
  width: 100%;
  margin-top: 1rem;
  object-fit: cover;
  border-radius: 20px;
}

@media only screen and (max-width: 1600px){
  #video{
    width: 60vw;
  }

  .artistas_home{
    width: 70vw;
  }

  .cursos{
    width: 70vw;
    height: 80vh;
  }

  .productos{
    width: 70vw;
  }

  .iframe{
    border-radius: 15px;
    width: 50vw;
    height: 50vh;
  }

}


@media only screen and (max-width: 1024px){
  main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #video{
    height: 50vh;
    width: 80vw;
  }

  .artistas_home{
    background-size: cover; 
    height: 50vh;
    width: 80vw;
    align-self: center;
  }

  .cursos{
    background-size: cover; 
    height: 50vh;
    width: 80vw;
    align-self: center;
    margin-bottom: 0;
  }

  .productos{
    background-size: cover; 
    height: 50vh;
    width: 80vw;
    align-self: center;
    margin-bottom: 0;
  }

  .separador{
    width: 80vw;
    border: 1px solid rgba(58, 58, 58, 0.445);
    margin-top: 30px;
  }

  .iframe{
    width: 50vw;
  }

}

@media only screen and (max-width:500px){
  .iframe{
    width: 70vw;
    height: 30vh;
  }

  .artistas_home{
    background-size: cover; 
    height: 30vh;
    width: 80vw;
    align-self: center;
  }

  .artistas_h2{
    text-align: center;
    color: white;
    font-size: 2rem;
    background-color: rgba(71, 71, 71, 0.568);
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
  }

  .cursos{
    background-size: cover;
    background-repeat: no-repeat;
    height: 20vh;
    width: 80vw;
    align-self: center;
    margin-bottom: 0;
  }

  .cursos_h2{
    text-align: center;
    color: white;
    font-size: 3rem;
    background-color: rgba(71, 71, 71, 0.568);
    padding: 10px;
    border-radius: 10px;
  }

  .productos{
    background-size: cover; 
    height: 30vh;
    width: 80vw;
    align-self: center;
    margin-bottom: 0;
  }

  .productos_h2{
    text-align: center;
    color: white;
    font-size: 2rem;
    background-color: rgba(71, 71, 71, 0.568);
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid rgba(110, 110, 110, 0.568);
  }


}