.flex-home{
  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fondoContent{
  background: linear-gradient(165deg, #171717, rgb(54, 59, 59) );
  width: 100vw;
  padding-left: 80px;
  padding-right: 80px;
}

.video-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.video-canvas{
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(29, 29, 29, 0.288) 20% , #000000 100%);
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}

.video-canvas button{
  width: 100px;
  height: 30px;
}

.video-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.img_container{
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 100px;
  margin-left: -40px;
}

.prev{
  transition: .5s;
}

.prev:hover{
  transform: scale(1.3);
}

.next{
  transition: .5s;
}

.next:hover{
  transform: scale(1.3);
}

.main-h1{
  color: var(--color-primary);
  text-align: center;
}

.main-h4{
  color: var(--color-primary);
  text-align: center;
}

.carousel-item{
  height: 100%;
  margin-bottom: 30px;
}

.imgcarusel{
  height: 80vh;
  width: 100%;
  object-fit: contain;
  margin-top: 15px;
}

#carouselExampleControls{
  height: 100%;
  border-bottom: 1px solid rgba(58, 58, 58, 0.445);
}

.mapa{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.iframe{
  width: 30vw;
  height: 50vh;
}

.mapa_h2{
  color: goldenrod;
}

.cursos{
  background-image: url(../../assets/cursos.jpg);
  background-size: 120%; 
  background-repeat:no-repeat;
  background-position: center;
  height: 300px;
  transition-duration: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(.4);
}

.cursos_h2{
  text-align: center;
  color: white;
  font-size: 2rem;
  padding: 10px;
  border-radius: 10px;
}

.artistas_home{
  background-image:url(../../assets/banner.jpeg); 
  background-size: 120%; 
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  transition-duration: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(.4);
}
:link{
  text-decoration: none;
}
.artistas_h2{
  text-align: center;
  color: white;
  font-size: 2rem;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

.separador{
  border-top: 1px solid rgba(58, 58, 58, 0.445);
  margin-top: 30px;
}

.productos{
  background-image: url(../../assets/productos.jpg);
  background-size: 120%; 
  background-repeat:no-repeat;
  background-position: center;
  height: 300px;
  transition-duration: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(.4);
}

.productos_h2{
  text-align: center;
  color: white;
  font-size: 2rem;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

#video{
  width: 100vw;
  object-fit: cover;
  filter: grayscale(.6);
}

.banner{
  transition: .3s;
  background-color: var(--button-background-primary);
  filter: grayscale(.3);
}

.banner:hover{
  backdrop-filter: blur(10px);
  filter: grayscale(.1);
}


@media only screen and (max-width: 1600px){


  .iframe{
    border-radius: 15px;
    width: 50vw;
    height: 50vh;
  }

}


@media only screen and (max-width: 1024px){
  main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .separador{
    width: 80vw;
    border: 1px solid rgba(58, 58, 58, 0.445);
    margin-top: 30px;
  }

  .iframe{
    width: 50vw;
  }

}

@media only screen and (max-width:500px){
  .iframe{
    width: 70vw;
    height: 30vh;
  }

  .artistas_home{
    background-size: cover; 
    height: 30vh;
    width: 80vw;
    align-self: center;
  }

  .artistas_h2{
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
  }

  .cursos{
    background-size: cover;
    background-repeat: no-repeat;
    height: 20vh;
    width: 80vw;
    align-self: center;
    margin-bottom: 0;
  }

  .cursos_h2{
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 10px;
    border-radius: 10px;
  }

  .productos{
    background-size: cover; 
    height: 30vh;
    width: 80vw;
    align-self: center;
    margin-bottom: 0;
  }

  .productos_h2{
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
  }
}