@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerContainer{
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 17px;
    padding-right: 17px;
    margin-top: 17px;
}

header{
    height: 72px;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 0px;
    background-color: #171717d8;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 12px;
}

.header-h1{
    color: palevioletred;
    text-decoration: none;
    font-family: 'Rye', cursive;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}

.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 3px;
}

.h1_img{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    padding-right: 20px;
}

.logo_header{
    height: 3rem;
}

.navbar_links{
    font-family: 'Poppins', sans-serif;
    text-decoration-color: black;
    color: white;
    font-size: 14px;
    font-weight: bolder;
}

.navbar_links:hover{
    color: goldenrod;
}

.nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    visibility: hidden;
    opacity: 0;
    font-size: 1.5rem;
}

.nav-btn-xpand{
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
    font-size: .1px;
}

.carrito_icon{
    font-size: 2.5rem;
    height: 30px;
    padding: 5px;
    color: white;
    transition: .5s;
}

.carrito_icon:hover{
    transform: scale(1.1);
}

.salir_btn{
    padding: 10px;
    border-radius: 10px;
    font-weight: 800;
    transition: .5s;
}

.salir_btn:hover{
    transform: scale(1.1);
}

.ingresar_btn{
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-weight: 800;
    transition: .5s;
    font-size: 15px;
    filter: grayscale(.5);
    background-color: var(--color-primary);
    color: white;
    height: 40px;
}

.ingresar_btn:hover{
    filter: grayscale(.4);
}

.user_picture{
    height: 50px;
    border-radius: 50px;
}

.btn-secondary{
    background: transparent;
    transition: .5s;
    border: none;
}

.btn-secondary:hover{
    background: transparent;
}

.dropdown-item{
    transition: .3s;
}

.dropdown{
    width: auto;
    align-items: flex-end;
}

.dropdown-item:hover{
    background-color: black;
    color: white;
}

@media only screen and (max-width: 1024px){

}


@media only screen and (max-width: 930px) {

}

@media only screen and (max-width:500px){

}