@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Rye&display=swap');

footer{
    height: 15vh;
    background-color: #171717;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.qr_footer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.qr_img{
    height: 60%;
    object-fit: contain;
    border-radius: 5px;
}

.text_footer{
    height: 100%;
}

.text_small{
    color: palevioletred;
    font-family: 'Rye', cursive;
    font-size: .8rem;
}

.footer_Navbar{
    display: flex;
    gap: 1rem;
    transition: .5s;
}

.a_btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.instagram_logo{
    transition: .5s;
    height: 1.2rem;
    color: white;
    font-size: 3.2rem;
}

.instagram_logo:hover{
    transform: scale(1.01);
}



@media only screen and (max-width: 800px){

    .footer_Navbar{
        display: none;
    }

}

@media only screen and (max-width: 500px){
    .text_small{
        font-size: 1rem;
    }

    .qr_img{
        display: none;
    }

    .a_btn_container{
        gap: 1rem;
    }
}