@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Rye&display=swap');

footer{
    height: 15vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.footer-h1{
    color: black;
}

.qr_footer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.qr_img{
    height: 60%;
    object-fit: contain;
    border-radius: 5px;
}

.text_footer{
    height: 100%;
}

.text_small{
    color: palevioletred;
    font-family: 'Rye', cursive;
    font-size: 1.3rem;
}

.footer_Navbar{
    display: flex;
    gap: 1rem;
    transition: .5s;
}

.navbar_links{
    transition: .5s;
}

.navbar_links:hover{
    transform: scale(1.1);
}

.a_btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer_a{
    background-color: white;
    transition: .5s;
    border-radius: 140px;
    height: 3.2rem;
}

.footer_a:hover{
    border-radius: 200px;
    transform: scale(1.1);
}

.instagram_logo{
    height: 100%;
}


.btn_up_arrow{
    height: 2.5rem;
    border-radius: 360px;
    margin-top: 5px;
}

.up_arrow{
    height: 2.5rem;
    border-radius: 360px;
    transition: .5s;
}

.up_arrow:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 800px){

    .footer_Navbar{
        display: none;
    }


}