@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
  --color-primary: #c93384;
  --button-background-primary: #c93383c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #171717;
  background: linear-gradient(165deg, #171717, rgb(54, 59, 59) );
  background-attachment: fixed;
/*   background-image: url('./assets/fondo4.jfif'); */  
  background-repeat:repeat;
  width: 100vw;
  overflow-x: hidden;
}

.App{
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100vw;
  height: auto;
}

.Layout{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.letterWhite{
  color: white;
}

::-webkit-scrollbar {
  z-index: 999;
  width: 10px;
  height: 100%;
}

::-webkit-scrollbar-track {
  background: linear-gradient(168deg, rgb(72, 72, 72) 20% , #171717 120%);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.336);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff4;
}
