@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
}


body {
  margin: 0;
  font-family: 'Roboto Condensed';
  background-color: black;
  background-image: url('./assets/folleto.png');
  background-repeat:repeat;
  background-size: 100px 100px;
}